body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://img.freepik.com/free-vector/realistic-style-technology-particle-background_23-2148426704.jpg?semt=ais_hybrid') no-repeat center center/cover;
}
.login-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    width: 320px;
}
h1 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
}
button {
    width: 100%;
    background: #ff6f61;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background: #ff3d3d;
    transform: scale(1.05);
}